:root {
    --backgr_color: #fff6d9;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

p, li, label, h2, h3, a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: #3c50e9;
}

p {
    margin: 0.2em;
}

h3 {
    margin-top: 10px;
}

body {
    position: relative;
    z-index: 0;
}

ul {
    list-style-type: none;
}

/* website */
wrapper {
    display: flex;
}

/*nav fixed position push content to right*/
.empty {
    min-width: 400px;
}

/* Navigation sidebar computer */
.nav_links {
    display: block;
    width: 400px;
    height: 100vh;
    background-color: var(--backgr_color);
    border-right: solid rgb(192, 192, 192) 1px;
    box-shadow: 8px 0px 8px -4px rgb(75, 74, 74);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 0px;
    position: fixed;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 20px;
    transition: font-size 0.25s;
}

nav a:hover {
    font-size: 1.5em;
    font-weight: bold;
}

.nav_icon {
    display: none;
}

.nav_btn {
    display: none;
}

/* nav phone */

@media screen and (max-width: 1000px) {

    .empty {
        display: none;
    }

    .nav_icon {
        display: block;
        position: fixed;
        top: 50%;
        left: -10px;
        z-index: 2;
        background-color:  #e9893c;
        width: 63px;
        height: 50px;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;
        background-image: url("menu_icon.png");
        background-repeat: no-repeat;
        background-position: 10px 0px;
        border: solid 2px #bccfc9;
    }

    .nav_links {
        z-index: -1;
        position: fixed;
        background-color: rgba(255, 250, 227, 0.8); 
        width: 100%;
        max-width: 1000px;
        opacity: 0;
        transition: opacity .5s ease-out;
    }

    .nav_btn:checked ~ .nav_links {
       
        opacity: 1;
        z-index: 1;
    }
}

/* Main content part */
main {
    background-color: var(--backgr_color);
    width: 100%;
    overflow: hidden;
}

main h1{
    font-family: 'Bebas Neue';
    padding: 0px 40px;
    font-size: 500%;
}

.home img {
    min-width: 100%;
}

.home {
    position: relative;
    z-index: 0;
}

.overlay {
    padding: inherit;    
    position: absolute;
    width: 600px;
    height: 600px;
    padding: auto 0;
    top: 20%;
    left: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #bccfc9c4 ;
    border-radius: 0px 25px 25px 0px;
}



.header {
    /*Header background color for each section is set in html file*/
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    margin: 0;
}

/*START STYLING PROJECTS SECTION */

.project_listing {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px;
    text-decoration: none;
}

.project_listing a {
    text-decoration: none;
    text-align: center;
}



.project_box {
    position: relative;
    width: 400px;
    max-width: 400px;
    margin: 20px;
    border: solid 2px #bccfc9;
    overflow: hidden;
    background-color: #bccfc9;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.25s;
}

.project_box img {
    display: block;
    width: 100%;
    padding: 0.5em;
}

.project_box:hover {
    background-color: #d4e6e0;
} 



/* END PROJECT SECTION */

/*START PROJECT PAGE */

.project_content img {
    width: 100%;
    border:#afc0bb solid 1px;
}

.info_box {
    background-color:  #e9893c;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


/* START COURSES BOXES */

/*Utseende på frågeboxar */
.course_box {
    max-width: 80%;
    overflow: hidden;
    background-color: var(--backgr_color);
    background-color: #c67268;
    margin: 20px auto;
    border-radius: 5px;
    border: solid 2px  #ad625a;
}

/*utseende label och content boxar */
.box_label, .box_content {
    padding: 14px 20px;
 
}

.box_label {
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    color: white;
    background-image: url("expand.png");
    background-repeat: no-repeat;
    background-position: right;
    transition: background-color 0.25s;
}

.box_label:hover {
    background-color: #ad625a;
}

.box_content {
    background-color: var(--backgr_color);
    overflow: hidden;
   
    display: none; 
}

.box_input {
    display: none;
}

/* När checked selektera nästa content som kommer efter och display som block och alltså kommer se */
.box_input:checked ~ .box_content {
    display: block;
  
}

.content {
    padding: 30px;
}

.school {
    text-align: right;
}

/*SLUT COURSES */

/* BEGIN ABOUT */

.grid_container {
    padding: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
  
}

.grid_container img {
    display: block;
    width: 80%;
    margin: 30px auto;
    
}

.grid_container > div {
    padding: 5%;
}

@media screen and (max-width: 1000px) {
    .grid_container {
        grid-template-columns: auto;
    }
}

/* END ABOUT */

.back_to_top {
    width: 100px;
    font-weight: bold;
    margin: 10px auto;
}

/* BEGIN FOOTER */

footer {
    width: 100%;
    background-color: #bccfc9;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

footer a {
    color: black;
    text-decoration: none;
}

/* END FOOTER */

/*START ERROR PAGE */

.error {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#afc0bb;
}