{% extends "template.html" %}
{% block title %}
- Julia Johansson
{% endblock %}
{% block body %}
<div class="home" id="home">
    <div class="name_blob">
        <h1>Julia</h1>
        <h1>Johansson</h1>
    </div>
    <div class="red_blob"></div>
    <img class="profile_image" src="{{ url_for('static', filename='images/personal.jpeg')}}" alt="">
    <div class="orang_blob"></div>
</div>

<section class="portfolio" id="projects">
    <div class="header" style="background-color: #bccfc9;">
        <h1>PROJECTS</h1>
        <h2>My favorite projects</h2>
    </div>
    <div class="content">
        <p>Filtrera på privata och skolprojekt</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>      
</section>

<section class="courses" id="courses">
    <div class="header" style="background-color: #e9893c;">
        <h1>COURSES</h1>
        <h2>Knowledge learned by courses</h2>
    </div>
    <div class="content">
     
        {% for course in courses %}

            <div class="course_box">
                <input type="checkbox" name="question_box" id="question{{loop.index}}" class="box_input">
                <label for="question{{loop.index}}" class="box_label">{{course.name}} {{course.credits}} </label>
                <div class="box_content">
                    <h3>Description:</h3>
                    <p> {{course.description}}</p>
                    <h3>Subject:</h3>
                    <p>{{course.subjects}}</p>
                    <h3>Techniques:</h3>
                    <ul>
                        {% for technique in course.techniques_used %}
                        <li>{{technique}}</li>                
                        {% endfor %}
                    </ul>
                    <h3>Course projects:</h3>
                    {% for project in course.projects_id %}
                        <a href="/{{project.id}}">{{project.name}}</a>  
                    {% endfor %}
                    <h3 class="school">{{course.school}}, {{course.start}} </h3>
    
                </div>
            </div>

          
        {% endfor %}
    </div>
</section>

{% endblock %}