{% extends "template.html" %}
{% block title %}
 Julia Johansson
{% endblock %}
{% block body %}
<section class="home" id="home">
    <img src="{{ url_for('static', filename='images/background.jpg')}}" alt="">
    <div class="overlay">
        <h1>Julia Johansson</h1>
        <h2>Student Innovativ Programmering </h2>
        <h2>Linköpings university </h2>
        <h3>Exam 2024</h3>
    </div>

</section>

<section class="portfolio" id="projects">
    <div class="header" style="background-color: #c67268">
        <h1>PROJECTS</h1>
        <h2>My favorite projects</h2>
    </div>
    <div class="content">
        
        <div class="project_listing">
            {% for project in projects %}
            <a href="{{url_for('info', id=project.id)}}">
                <div class="project_box">
                    <img src="{{ url_for('static', filename='images/'+ project.image) }}" alt="">
                    <div class="project_overlay">
                        <h2>{{project.name}}</h2>
                        <p>{{project.description}}</p>
                        <p>
                        {% for technique in project.techniques_used %}
                        {{technique}} 
                        
                        {% endfor %}
                    </p>

                    </div>
                </div>
            </a>

            {% endfor %}
        </div>
    </div>      
</section>

<section class="courses" id="courses">
    <div class="header" style="background-color: rgb(115, 165, 161)">
        <h1>COURSES</h1>
        <h2>Knowledge learned by courses</h2>
    </div>
    <div class="content">
        {% for course in courses %}
            <div class="course_box">
                <input type="checkbox" name="question_box" id="question{{loop.index}}" class="box_input">
                <label for="question{{loop.index}}" class="box_label">{{course.name}} {{course.credits}} </label>
                <div class="box_content">
                    <h3>Description:</h3>
                    <p> {{course.description}}</p>
                    <h3>Techniques:</h3>
                    <ul>
                        {% for technique in course.techniques_used %}
                        <li>{{technique}}</li>                
                        {% endfor %}
                    </ul>
                    {% if course.projects_id %}
                    <h3>Course projects:</h3>
                    {% for project in course.projects_id %}
                        <a href="/project/{{project.id}}">{{project.name}}</a>  
                    {% endfor %}
                    {% endif %}
                    <h3 class="school">{{course.school}}, {{course.start}} </h3>
    
                </div>
            </div>

          
        {% endfor %}
    </div>
</section>

<section class="about" id="about">
    <div class="header" style="background-color: #e9893c;">
        <h1>ABOUT ME</h1>
        <h2>Get to know me!</h2>
    </div>
    <div class="grid_container">
        <img src="{{ url_for('static', filename='images/me2.jpg')}}" alt="">
        <div class="info">
            <h3>Hello!</h3>
            <p>Julia, 22 years old from Växjö Sweden. Studying bachelor degree in
                programming at Linköping university. 
            </p>
            <p>
                I am a hard-working, curious and creative person that is hungry for new 
                things. I like to always learn and rarely sit home on the couch not doing
                anything. 
            </p>
            <p><b>Fun facts about me!</b></p>
            <ul>
                <li>Have photographed as a hobby for 10 years!</li>
                <li>Coached gymnasts since highschool</li>
                <li>Can't decide if backend or frontend is more fun</li>
                <li>Have worked 3 years as an accountant</li>
            </ul>
        </div>
        
        <div>
            <p><b>Familiar techniques:</b></p>
            <ul>
                {% for technique in techniques %}
                <li>{{technique}}</li>
                {% endfor %}
            </ul>
        </div>
       
        
        
        
        
            
    </div>

</section>  

<div class="back_to_top">
    <a href="#home">Back to top?</a>
</div>


{% endblock %}