<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio | {% block title %}{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css')}}">
    </head>

    <body>
        <wrapper>
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">PROJECTS</a></li>
                    <li><a href="">COURSES</a></li>
                    <li><a href="">ABOUT ME</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </nav>
            <div class="content">
                {% block body %}
                {% endblock %}
            </div>
        </wrapper>
    </body>
</html>